<% include layouts/nav %>
<hr>
<div class="container">
    <form action="/insert" method="get">
        <div class="form-group">
            <input type="text" class="form-control" name="codarticulo" id="codarticulo" aria-describedby="helpId"
                placeholder="Codigo del articulo">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="descrarticulo" id="descrarticulo" aria-describedby="helpId"
                placeholder="descripcion del articulo">
        </div>
        <div class="form-group">
            <input type="number" min=0 class="form-control" name="existarticulo" id="existarticulo" aria-describedby="helpId"
                placeholder="existencias del articulo">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="minimoarticulo" id="minimoArticulo" min=0 aria-describedby="helpId"
                placeholder="minimo del articulo">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="preuarticulo" id="preuarticulo" min=0 aria-describedby="helpId"
                placeholder="preu del articulo">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="observarticulo" id="observarticulo" min=0 aria-describedby="helpId"
                placeholder="observarciones">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<% include layouts/footer %>                                                                                                                                                                                             
