<% include layouts/nav %>

<table class="table">

    <tr>
        <th>ID</th>
        <th>Codig</th>
        <th>Desc</th>
        <th>Existencias</th>
        <th>Minimo</th>
        <th>Preu</th>
        <th>Obs</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <% for(var i=0; i < results.length; i++) { %>
        <tr>
           <%
            for ( prop in results[i]) {           %>
                <td><%= results[i][prop] %></td>
            <% }   %>
            <td> <button class="btn btn-danger" onclick="deleteme(<%=  results[i]['idarticulo'] %>)" >Delete</button> </td>
            <td> <button class="btn btn-primary" onclick="editme(<%= results[i]['idarticulo'] %>)">Edit</button> </td>
        </tr>
    <% } %>
</table>


<% include layouts/footer %>