<hr>
<div class="container">
    <form action="/delete" method="get">
        <div class="form-group">
            <input type="number" min=1 class="form-control" name="idarticulo" id="idarticulo" aria-describedby="helpId"
                placeholder="Codigo del articulo a ser deletado">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>